@model IEnumerable<DnDCharDB.Data.Models.Character>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() characters in the database
    </div>
</div>

<ul>
    @foreach(var character in Model)
    {
        <li>@character.Name</li>
    }
</ul>